@model CodeSharing.ViewModels.Contents.Post.PostCreateRequest

@{
    Layout = "_SubLayout";
    ViewData["Title"] = "Tạo mới bài viết · Code Sharing";
}

@section scripts{
    <script src="~/lib/ckeditor5-build-classic/build/ckeditor.js"></script>
    <script src="~/js/controllers/accountsController.js" asp-append-version="true"></script>
    <script>
        let controller = new accountsController();
        controller.initialize();
    </script>
}

<div class="section-header">
    <h3 class="section-title">Tạo mới bài viết</h3>
    <img src="~/images/wave.svg" class="wave" alt="wave"/>
</div>

<form asp-action="CreateNewPost" method="post" enctype="multipart/form-data" id="frm_new_post" class="post-form">
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="column col-md-12">
            <!--Category-->
            <div class="form-group">
                <h6>Danh mục</h6>
                <select asp-for="CategoryId" style="height: 50px" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="@Model.CategoryId"></span>
            </div>

            <!--Title-->
            <div class="form-group">
                <h6>Tiêu đề</h6>
                <input asp-for="@Model.Title" class="form-control">
                <span asp-validation-for="@Model.Title"></span>
            </div>

            <!--Summary-->
            <div class="form-group">
                <h6>Tổng quan</h6>
                <input asp-for="@Model.Summary" class="form-control">
                <span asp-validation-for="@Model.Summary"></span>
            </div>

            <!--Cover image-->
            <div class="form-group">
                <h6>Hình đại diện</h6>
                <input asp-for="CoverImage" type="file" accept="image/*">
                <span asp-validation-for="@Model.CoverImage"></span>
            </div>

            <!--Label-->
            <div class="form-group">
                <h6>Nhãn</h6>
                <input asp-for="@Model.Labels" class="form-control">
                <span asp-validation-for="@Model.Labels"></span>
            </div>

            <!--Note-->
            <div class="form-group">
                <h6>Ghi chú</h6>
                <input asp-for="@Model.Note" class="form-control">
                <span asp-validation-for="@Model.Note"></span>
            </div>

            <!--Content-->
            <div class="form-group">
                <h6>Nội dung</h6>
                <textarea asp-for="@Model.Content" id="txt_content" class="form-control" rows="10"></textarea>
                <span asp-validation-for="@Model.Content"></span>
            </div>
        </div>
    </div>

    <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default" asp-page-handler="Account">Tạo mới</button>
    <!-- Send Button -->
</form>