@model PostDetailViewModel

@{
    Layout = "_SubLayout";
    ViewData["Title"] = Model.Post.Title + " · Code Sharing";
    ViewData["Description"] = Model.Post.Title;
}

@section scripts
{
    <script src="~/lib/mustache.js/mustache.min.js"></script>
    <script src="~/js/controllers/postsController.js" asp-append-version="true"></script>
    <script>
        var controller = new postsController();
        controller.initialize();
    </script>
}

<input type="hidden" id="hid_post_id" value="@Model.Post.Id"/>
@if (User.Identity!.IsAuthenticated)
{
    <input type="hidden" id="hid_current_login_name" value="@Model.CurrentUser.FirstName @Model.CurrentUser.LastName"/>
}

@{
    var url = "/category/" + Model.Post.CategorySlug + "-" + Model.Post.CategoryId;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@url" title="Xem tất cả bài viết trong @Model.Post.CategoryTitle">@Model.Post.CategoryTitle</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Post.Title</li>
    </ol>
</nav>
<div class="row gy-4">
    <div class="col-lg-8">
        <!-- post single -->
        <div class="post post-single">
            <!-- post header -->
            <div class="post-header">
                <h1 class="title mt-0 mb-3">@Html.Raw(Model.Post.Title)</h1>
                <ul class="meta list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="/about">
                            <img src="~/images/other/logo.png" class="author" style="width: 30px; height: 30px;" alt="author"/>@Html.Raw(Model.Post.FullName)
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Trending</a>
                    </li>
                    <li class="list-inline-item">@Model.Post.CreateDate.ToString("dd MMMM, yyyy")</li>
                    <li class="list-inline-item">
                        <span class="like-count">@Model.Post.NumberOfVotes.GetValueOrDefault(0).ToString("N0")</span>
                        <i class="icon-like" style="vertical-align: inherit !important;"></i>
                    </li>
                    <li class="list-inline-item">
                        <span>@Model.Post.ViewCount.GetValueOrDefault(0).ToString("N0")</span>
                        <i class="icon-eye" style="vertical-align: middle !important;"></i>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="list-inline-item">
                            <i type="button" data-bs-toggle="modal" data-bs-target="#reportModal" class="icon-flag"></i>
                        </li>
                    }
                </ul>
            </div>
            <!-- featured image -->
            <div class="featured-image">
                <img src="@Model.Post.CoverImage" alt="post-title"/>
            </div>
            <!-- post content -->
            <div class="post-content clearfix">
                <p>@Html.Raw(Model.Post.Content)</p>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <form class="text-right" id="frm_vote" action="#" method="post">
                    <input type="hidden" name="postId" value="@Model.Post.Id">
                    <button class="btn" style="background-color: rgb(7, 55, 99); color: white; border: none; cursor: pointer; padding:  2px 12px 3px 12px; text-decoration: none;">
                        <i class="icon-like" style="vertical-align: middle !important;"></i>
                        <span style="vertical-align: text-top;" class="like-it">@Model.Post.NumberOfVotes.GetValueOrDefault(0).ToString("N0")</span>
                    </button>
                </form>
            }

            <!-- post bottom section -->
            <div class="post-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 col-12 text-center text-md-start">
                        <!-- tags -->
                        @foreach (var item in Model.Label)
                        {
                            var postByLabelUrl = "/tag/" + item.LabelId;
                            var value = "#" + item.LabelId;
                            <a href="@postByLabelUrl" class="tag">@value</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer" data-height="50"></div>
        <div class="about-author padding-30 rounded">
            <div class="thumb">
                <img src="~/images/other/logo.png" alt="@Html.Raw(Model.Post.FullName)"/>
            </div>
            <div class="details">
                <h4 class="name">
                    <a href="/about">@Html.Raw(Model.Post.FullName)</a>
                </h4>
                <p>Những devloper nổi tiếng đều gặp phải những vấn đề nan giải cho đến khi họ giải quyết được nó</p>
                <!-- social icons -->
                <ul class="social-icons list-unstyled list-inline mb-0">
                    <partial name="_SocialIcons"/>
                </ul>
            </div>
        </div>
        <div class="spacer" data-height="50"></div>

        <!-- section header -->
        <div class="section-header">
            <input type="hidden" value="@Model.Post.NumberOfComments.GetValueOrDefault(0)" id="hid_number_comments"/>
            <h3 class="section-title" id="comments-title">Các bình luận (@Model.Post.NumberOfComments.GetValueOrDefault(0).ToString("N0"))</h3>
            <img src="~/images/wave.svg" class="wave" alt="wave"/>
        </div>

        <!-- post comments -->
        <div class="comments bordered padding-30 rounded">
            <ul class="comments" id="comment_list">
                <!-- comment item -->
            </ul>
        </div>

        <script id="tmpl_children_comments" type="x-tmpl-mustache">
            <li class="comment child rounded" id="li-comment-{{id}}" style="margin-top:35px;">
                <div class="thumb">
                    <img src="https://i.ibb.co/wS1X4b5/user.png" width="60px" height="60px" alt="{{ownerName}}"/>
                </div>
                <div class="details">
                    <h4 class="name">
                        <a href="#">{{ownerName}}</a>
                    </h4>
                    <span class="date">{{createDate}}</span>
                    <p>{{content}}</p>
                </div>
            </li>
        </script>

        <script id="tmpl_comments" type="x-tmpl-mustache">
            <li class="comment rounded" id="li-comment-2">
                <div class="thumb">
                    <img src="https://i.ibb.co/wS1X4b5/user.png" width="70px" height="70px" alt="{{ownerName}}"/>
                </div>
                <div class="details">
                    <h4 class="name">
                        <a href="#">{{ownerName}}</a>
                    </h4>
                    <span class="date">{{createDate}}</span>
                    <p>{{content}}</p>
                    <a class="btn btn-default btn-sm comment-reply-link" href="#" data-commentid="{{id}}">Trả lời</a>
                    <div id="reply_comment_{{id}}"></div>
                </div>
                <ul class="children" id="children_comments_{{id}}">
                    {{{childrenHtml}}}
                </ul>  
            </li>   
        </script>

        <script id="tmpl_reply_comment" type="x-tmpl-mustache">
            <!-- comment form -->
            <div style="margin-top:20px;" class="comment-form rounded bordered padding-30">
                <form action="/post/addNewComment" id="frm_reply_comment_{{commentId}}" class="comment-form" method="post">
                    <input type="hidden" name="postId" value="@Model.Post.Id" />
                    <input type="hidden" name="replyId" value="{{commentId}}" />

                    <div class="messages"></div>
                    <div class="row">
                        <div class="column col-md-12">
                            <!-- Comment textarea -->
                            <div class="form-group">
                                <textarea name="content" id="txt_reply_content_{{commentId}}" class="form-control" rows="4" placeholder="Bạn muốn bình luận gì á..." required="required"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <input type="submit" name="submit" id="btn_send_reply" class="btn btn-default" value="Gửi"/>
                </form>
            </div>
        </script>

        <div class="spacer" data-height="50"></div>

        @if (User.Identity.IsAuthenticated)
        {
            <!-- section header -->
            <div class="section-header">
                <h3 class="section-title">Hãy để lại bình luận</h3>
                <img src="~/images/wave.svg" class="wave" alt="wave"/>
            </div>
            <!-- comment form -->
            <div class="comment-form rounded bordered padding-30">
                <form action="/post/addNewComment" id="commentform" method="post" class="comment-form">
                    <input type="hidden" name="postId" value="@Model.Post.Id"/>
                    <div class="messages"></div>
                    <div class="row">
                        <div class="column col-md-12">
                            <!-- Comment textarea -->
                            <div class="form-group">
                                <textarea name="content" id="txt_new_comment_content" class="form-control" rows="4" placeholder="Bạn muốn bình luận gì nè..." required="required"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <input type="submit" name="submit" id="btn_send_comment" class="btn btn-default" value="Gửi"/>
                </form>
            </div>
        }
        else
        {
            <h3 class="section-title">Hãy <a asp-action="SignIn" asp-controller="Account">đăng nhập </a>để bình luận</h3>
        }

    </div>
    <div class="col-lg-4">
        <!-- sidebar --> @await Component.InvokeAsync("SideBar", "Default")
    </div>
</div>

<!-- Report modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Báo xấu</h5>
            </div>
            <div class="modal-body">
                <form id="frm_report">
                    <input type="hidden" value="@Model.Post.Id" name="postId"/>
                    <div class="mb-3">
                        <label for="content" class="col-form-label">Nội dung:</label>
                        <textarea class="form-control" name="content" id="txt_report_content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn_send_report">Gửi</button>
            </div>
        </div>
    </div>
</div>