@model ListByCategoryIdViewModel

@{
    Layout = "_Layout";
    var suffixPage = Model.Data.PageIndex > 1 ? Model.Category.Title + " · Trang " + Model.Data.PageIndex : "";
    ViewData["Title"] = Model.Category.Title + suffixPage + " · Code Sharing";
    ViewData["Description"] = "Các bài viết liên quan đến danh mục " + Model.Category.Slug + suffixPage;
}

<section class="page-header">
  <div class="container-xl">
    <div class="text-center">
      <h1 class="mt-0 mb-2">@Html.Raw(Model.Category.Title)</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">@Html.Raw(Model.Category.Title)</li>
        </ol>
      </nav>
    </div>
  </div>
</section>

<section class="main-content">
  <div class="container-xl">
    <div class="row gy-4">
      <div class="col-lg-8">
      <div class="row gy-4">
        @foreach (var item in Model.Data.Items)
        {
          var detailPostUrl = "/post/" + item.Slug + "-" + item.Id + "/";
          var postsByCategoryUrl = "/category/" + item.CategorySlug + "-" + item.CategoryId;
          <div class="col-sm-6">
            <!-- post -->
            <div class="post post-grid rounded bordered">
              <div class="thumb top-rounded">
                <a href="@postsByCategoryUrl" title="Xem tất cả bài viết trong @item.CategoryTitle" class="category-badge position-absolute">@item.CategoryTitle</a>
                <span class="post-format">
                  <i class="icon-picture"></i>
                </span>
                <a href="@detailPostUrl" title="@item.Title">
                  <div class="inner">
                    <img src="@item.CoverImage" alt="post-title" />
                  </div>
                </a>
              </div>
              <div class="details">
                <ul class="meta list-inline mb-0">
                  <li class="list-inline-item">
                    <a href="/about">
                      <img src="~/images/other/author-sm.png" class="author" alt="author" />@item.FullName</a>
                  </li>
                  <li class="list-inline-item">@item.CreateDate.ToString("dd MMMM, yyyy")</li>
                </ul>
                <h5 class="post-title mb-3 mt-3">
                  <a href="@detailPostUrl" title="@item.Title">@item.Title</a>
                </h5>
                <p class="excerpt mb-0">@Html.Raw(item.Summary)</p>
              </div>
              <div class="post-bottom clearfix d-flex align-items-center">
                <div class="social-share me-auto">
                  <button class="toggle-button icon-share"></button>
                  <ul class="icons list-unstyled list-inline mb-0">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-pinterest"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-telegram-plane"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="far fa-envelope"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="more-button float-end">
                  <a href="@detailPostUrl" title="@item.Title">
                    <span class="icon-options"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
        @await Component.InvokeAsync("Pager", Model.Data)
      </div>
      <div class="col-lg-4">
        <!-- sidebar -->
        @await Component.InvokeAsync("SideBar", "Default")
      </div>
    </div>
  </div>
</section>